{ {% extends "base.html" %}}
 {% block title %}Portfolio{% endblock title%}

 {% block body %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">HI ! I am Ajinkya</h1>
      <p class="lead my-3">I am currently in the second year of engineering ,
        pursuing degree from DYPCOE , Pune
      </p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"></a></p>
    </div>
  </div>
  <div class="shadow-lg p-3 mb-5 bg-white rounded"><h5>Skills</h5></div>
<div class="row mb-2">
   
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Basic JAVA</strong>
          <h3 class="mb-0"></h3>
          <div class="mb-1 text-muted">Oct 27</div>
          <p class="card-text mb-auto">Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. </p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/java.download.avif" class="d-block w-80" alt="...">       
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Basic C</strong>
          <h3 class="mb-0"></h3>
          <div class="mb-1 text-muted">Oct 27</div>
          <p class="card-text mb-auto"> C is a general-purpose computer programming language. It was created in the 1970s by Dennis Ritchie, and remains very widely used and influential. By design, C's features cleanly reflect the capabilities of the targeted CPUs.
            It was created in the 1970s by Dennis Ritchie, and remains very widely used and influential. By design, C's features cleanly reflect the capabilities of the targeted CPUs.
          </div> 
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/C-Programming-Language.png" class="d-block w-80" alt="...">       
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
           
          <h3 class="mb-0">Python Language</h3>
          <div class="mb-1 text-muted">Oct 27</div>
          <p class="mb-auto"> Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional</p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/virtual-env-python.png" class="d-block w-90" alt="...">    
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
           
          <h3 class="mb-0">Django</h3>
          <div class="mb-1 text-muted">Oct 27</div>
          <p class="mb-auto">  Django is a free and open-source, Python-based web framework that follows the model–template–views architectural pattern. It is maintained by the Django Software Foundation, an independent organization established in the US as a 501 non-profit
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/dj.jpg" class="d-block w-90" alt="...">    
        </div>
      </div>
    </div>
    
  </div>
  <div class="shadow-lg p-3 mb-1 bg-white rounded"><h5>Contact Information</h5></div>
  <div class="shadow p-3 mb-2 bg-white rounded">Email-->ajnkyadarekar528@gmail.com</div>
  <div class="shadow p-3 mb-2 bg-white rounded">Linkedin-->Ajinkya Darekar</div>
  <a class="btn btn-primary mb-2" href="https://www.linkedin.com/posts/ajinkya-darekar-2bb739254_new-journey-begin-d-y-patil-college-activity-7001945534726889472-uTI8?utm_source=share&utm_medium=member_android" role="button"><h7>Linkedin Link</h7></a>

  <p>&copy; 2023 codsoft.com</p>
 {% endblock body%}